/* #region games-filter-container */
.games-filter-container {
    /* Layout */
    display: flex;

    /* Size/Shape */
   width: 100%;

    /* Background */
    background-color: #360f5a;
    /* Text */ 
        
    /* Misc */
}

@media screen and (max-width: 768px){
    .games-filter-container {
        /* Layout */
        position: sticky;
        top: 0;
        z-index: 1000;

        /* Size/Shape */

        /* Background */
        height: 15%;
        border-radius: 5px;        

        /* Text */ 
        
        /* Misc */
        pointer-events: auto;

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .games-filter-container {
        /* Layout */

        /* Size/Shape */
        height: 80px;
        border-radius: 10px;        

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .games-filter-container {
        /* Layout */

        /* Size/Shape */
        height: 80px;
        border-radius: 10px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}
/* #endregion */

/* #region games-filter */
.games-filter {
    /* Layout */
    display: flex;    
    align-items: center;

    /* Size/Shape */
    height: 100%;   
    width: 100%; 

    /* Background */

    /* Text */ 
        
    /* Misc */    
}

@media screen and (max-width: 768px){
    .games-filter {
        /* Layout */

        /* Size/Shape */
        gap: 5%;
        padding-left: 2px;        

        /* Background */

        /* Text */ 
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .games-filter {
        /* Layout */

        /* Size/Shape */
        gap: 6%;
        padding-left: 10px;        

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .games-filter {
        /* Layout */

        /* Size/Shape */
        gap: 200px;
        padding-left: 20px;        

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}
/* #endregion */

/* #region filter-section */
.filter-section {
    /* Layout */
    flex: 0 0  auto;
    display: flex;
    flex-direction: column;    

    /* Size/Shape */

    /* Background */

    /* Text */ 
        
    /* Misc */

}

@media screen and (max-width: 768px){
    .filter-section {
        /* Layout */

        /* Size/Shape */
        height: 100%;
    }

    #filter-section-sport {
        /* Layout */
        flex: 0 0 40%;
    }

    #filter-section-location {
        /* Layout */
        flex: 0 0 10%;
    }

}
/* #endregion */

/* #region filter-title */
.filter-title {
    /* Layout */

    /* Size/Shape */

    /* Background */

    /* Text */ 
    font-weight: bold;
    
    color: white;    
        
    /* Misc */    
}

@media screen and (max-width: 768px){
    .filter-title {
        /* Layout */

        /* Size/Shape */
        margin-bottom: 2px;

        /* Background */

        /* Text */ 
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .filter-title {
        /* Layout */

        /* Size/Shape */
        margin-bottom: 4px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .filter-title {
        /* Layout */

        /* Size/Shape */
        margin-bottom: 8px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}
/* #endregion */

/* #region filter-options */
.filter-options {
    /* Layout */
    display: flex;

    /* Size/Shape */

    /* Background */

    /* Text */ 
        
    /* Misc */
}

@media screen and (max-width: 768px){
    .filter-options {
        /* Layout */

        /* Size/Shape */
        gap: 1px;
        height: 65%;

        /* Background */

        /* Text */ 
        
        /* Misc */

    }

    #filter-options-sport {
        /* Layout */
        display: grid;
        grid-template-columns: repeat(6, 15%);


    }

    #filter-options-location {
        /* Layout */
        display: grid;
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .filter-options {
        /* Layout */

        /* Size/Shape */
        gap: 5px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .filter-options {
        /* Layout */

        /* Size/Shape */
        gap: 10px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}
/* #endregion */

/* #region filter-box */
.filter-box {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;    

    /* Size/Shape */

    /* Background */
    background-color: white;

    /* Text */ 
    text-align: center;
    font-weight: bold;
    
        
    /* Misc */
    cursor: pointer;
    user-select: none;
    transition: all 0.2s ease;
}

.filter-box:hover {
    background-color: #ccc;
}

.filter-box.active {
    background-color: #B7A57A;
    color: black;
}

@media screen and (max-width: 768px){
    .filter-box {
        /* Layout */

        /* Size/Shape */
        height: 100%;
        width: 100%;

        /* Background */
        border-radius: 5px;

        /* Text */ 
        font-size: 8px;
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .filter-box {
        /* Layout */

        /* Size/Shape */
        width: 40px;
        height: 30px;
        border-radius: 5px; 

        /* Background */

        /* Text */
        font-size: 12px; 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .filter-box {
        /* Layout */

        /* Size/Shape */
        width: 50px;
        height: 35px;
        border-radius: 5px;  

        /* Background */

        /* Text */ 
        font-size: 12px;
        
        /* Misc */
    }
}
/* #endregion */

/* #region history-filter-container */
.history-filter-container {
    /* Layout */
    display: flex;

    /* Size/Shape */
    width: 98%;

    /* Background */
    background-color: #360f5a;

    /* Text */ 
        
    /* Misc */    
}

@media screen and (max-width: 768px){
    .history-filter-container {
        /* Layout */

        /* Size/Shape */
        height: 40px;
        border-radius: 5px;
        padding-left: 10px;
        margin-bottom: 2px;        

        /* Background */

        /* Text */ 
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .history-filter-container {
        /* Layout */

        /* Size/Shape */
        height: 240px;
        border-radius: 10px;
        padding-left: 2%;
        margin-bottom: 10px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .history-filter-container {
        /* Layout */

        /* Size/Shape */
        height: 180px;
        border-radius: 5px;
        padding-left: 40px;
        margin-bottom: 10px;        

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}
/* #endregion */ 

/* #region history-filter */
 .history-filter {
    /* Layout */
    display: flex;
    align-items: center;

    /* Size/Shape */
    height: 100%;

    /* Background */

    /* Text */ 
        
    /* Misc */   
 }

 @media screen and (max-width: 768px){
    .history-filter {
        /* Layout */

        /* Size/Shape */
        padding-left: 2px;
        gap: 20px;

        /* Background */

        /* Text */ 
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .history-filter {
        /* Layout */

        /* Size/Shape */
        padding-left: 5px;
        gap: 8%;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .history-filter {
        /* Layout */

        /* Size/Shape */
        padding-left: 5px;
        gap: 200px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}
 /* #endregion */

/* #region history-sport-section */
.history-sport-section {
    /* Layout */
    display: grid;

    /* Size/Shape */

    /* Background */

    /* Text */ 
        
    /* Misc */
}

@media screen and (max-width: 768px){
    .history-sport-section {
        /* Layout */
        grid-template-columns: repeat(6, 10px);

        /* Size/Shape */
        gap: 2px;

        /* Background */

        /* Text */ 
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .history-sport-section {
        /* Layout */
        grid-template-columns: repeat(6, 50px);

        /* Size/Shape */
        gap: 10px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .history-sport-section{
        /* Layout */
        grid-template-columns: repeat(9, 70px);

        /* Size/Shape */
        gap: 10px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

/* #endregion */

/* #region history-location-section */
.history-location-section {
    /* Layout */
    display: grid;

    /* Size/Shape */

    /* Background */

    /* Text */ 
        
    /* Misc */    
}

@media screen and (max-width: 768px){
    .history-location-section {
        /* Layout */

        /* Size/Shape */
        gap: 5px;

        /* Background */

        /* Text */ 
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .history-location-section {
        /* Layout */

        /* Size/Shape */
        gap: 10px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .history-location-section {
        /* Layout */

        /* Size/Shape */
        gap: 15px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}
/* #endregion */

/* #region history-location-box */
.history-location-box {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Size/Shape */

    /* Background */
    background-color: white;

    /* Text */
    text-align: center;
    font-weight: bold;
         
        
    /* Misc */
    cursor: pointer;
    user-select: none; 
    transition: all 0.2s ease;   
}

.history-location-box:hover {
    background-color: #ccc;
 }

.history-location-box.active {
    background-color: #B7A57A;
    color: black;
}

@media screen and (max-width: 768px){
    .history-location-box {
        /* Layout */

        /* Size/Shape */
        width: 25px;
        height: 10px;
        border-radius: 1px;

        /* Background */

        /* Text */ 
        font-size: 6px;
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .history-location-box {
        /* Layout */

        /* Size/Shape */
        width: 100px;
        height: 40px;
        border-radius: 5px;          

        /* Background */

        /* Text */ 
        font-size: 16px;
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .history-location-box {
        /* Layout */

        /* Size/Shape */
            width: 100px;
            height: 40px;
            border-radius: 5px;            

        /* Background */

        /* Text */ 
        font-size: 16px;

        /* Misc */
    }
}
/* #endregion  */

/* #region history-month-section */
.history-month-section {
    /* Layout */
    display: grid;

    /* Size/Shape */

    /* Background */

    /* Text */ 
        
    /* Misc */    
}

@media screen and (max-width: 768px){
    .history-month-section {
        /* Layout */
        grid-template-columns: repeat(6, 10px);

        /* Size/Shape */
        gap: 5px;
        column-gap: 10px;         

        /* Background */

        /* Text */ 
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .history-month-section {
        /* Layout */
        grid-template-columns: repeat(6, 50px);

        /* Size/Shape */
        gap: 20px;
        column-gap: 30px;        

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .history-month-section {
        /* Layout */
        grid-template-columns: repeat(6, 50px);

        /* Size/Shape */
        gap: 20px;
        column-gap: 30px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}
/* #endregion */

/* #region history-month-box */
.history-month-box {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;    

    /* Size/Shape */

    /* Background */
    background-color: white;

    /* Text */
    text-align: center;
    font-weight: bold;
     
        
    /* Misc */  
    cursor: pointer;
    user-select: none;  
    transition: all 0.2s ease;
}

.history-month-box:hover {
    background-color: #ccc;
}

.history-month-box.active {
    background-color: #B7A57A;
    color: black;
}

@media screen and (max-width: 768px){
    .history-month-box {
        /* Layout */

        /* Size/Shape */
        width: 20px;
        height: 10px;
        border-radius: 1px;        

        /* Background */

        /* Text */ 
        font-size: 6px;
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .history-month-box {
        /* Layout */

        /* Size/Shape */
        width: 70px;
        height: 40px;
        border-radius: 5px;

        /* Background */

        /* Text */ 
        font-size: 14px;
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .history-month-box {
        /* Layout */

        /* Size/Shape */
        width: 70px;
        height: 40px;
        border-radius: 5px;

        /* Background */

        /* Text */ 
        font-size: 12px;
        
        /* Misc */
    }
}

/* #endregion */