
/* #region writer */
.writer {
    /* Layout */
    flex: 1;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    /* Size/Shape */
    height: 90%;

    /* Background */

    /* Text */ 
    text-align: center;
    font-size: large;
    
    color: black;
        
    /* Misc */    
}


