
/* #region writer */
.writer {
    /* Layout */
    flex: 1;
    display: flex;
    align-self: center;
    align-items: center;
    justify-content: center;

    /* Size/Shape */
    height: 90%;

    /* Background */

    /* Text */ 
    text-align: center;
    font-size: large;
    
    color: black;
        
    /* Misc */    
}

/* #endregion */

/* #region add-game */
.add-game {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Size/Shape */
    width: 180px;
    height: 100%;
    border: none;
    margin-left: auto;
    border-radius: 14px;

    /* Background */
    background-color: var(--husky_purple);

    /* Text */ 
    text-align: center;
    font-size: 17px;
    font-weight: 700;
    color: white;

    /* Misc */   
    cursor: pointer;
    transition: background 0.1s ease;
}    

.add-game:hover {
    /* Background */
    background: var(--hp_hover);
}
/* #endregion */

/* #region add-modal-content */
.add-modal-content {
    /* Size/Shape */
    max-width: 90%;
    margin: 5% auto;
    border-radius: 16px;
    border-color: var(--husky_purple);
    z-index: 2000;

    /* Background */
    background: white;

    /* Text */    
    color: black;
}

.add-modal-content h2 {
    /* Layout */

    /* Size/Shape */
    margin-top: 0;

    /* Text */ 
    text-align: center;
    font-weight: 600;
    
    color: black;
}
/* #endregion */

/* #region add-box */
.add-box {
    /* Size/Shape */
    width: 50%;
    border-radius: 10px;
    border-color: black;
}
/* #endregion */

/* #region confirm-add  */
.confirm-add {
    /* Layout */

    /* Size/Shape */
    width: 100%;
    border: none;
    border-radius: 12px;

    /* Background */
    background-color: var(--husky_purple);

    /* Text */
    color: white;
        
    /* Misc */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#confirm-add:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}
/* #endregion */ 