
/* #region invoice-container */
.invoice-container {
    height: 90%;
}
/* #endregion

/* #region pay-period */

/* #region pay-period */
.pay-period {
    /* Layout */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Size / Shape */
    width: 100%;
    height: 8%;

    /* Background */
    background-color: rgba(153, 255, 153, 0.5);

    /* Text */
    text-align: center;
    font: black;
}

@media screen and (min-width: 769px) and (max-width: 1800px) {
    .pay-period {
        /* Text */
        font-size: 28px;
    }
}

@media screen and (min-width: 1801px) {
    .pay-period {
        /* Text */
        font-size: 40px;
    }
}
/* #endregion

/* #region invoice-sections-container */

/* #region invoice-sections-container */
.invoice-sections-container {
    /* Layout */
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;

    /* Size/Shape */
    width: 100%;
    gap: 20px;

    /* Background */

    /* Text */ 
        
    /* Misc */    
}
/* #endregion */

/* #region invoice-history-container */
.invoice-history-container {
    /* Layout */
    flex: 1;
    display: flex;
    flex-direction: column;

    /* Size/Shape */
    height: 100%;
    margin-left: 2%;
    margin-top: 2%;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;

    /* Background */
    background-color: whitesmoke;

    /* Text */ 
    text-align: center;
    font-size: large;
    
    color: black;
        
    /* Misc */ 
    overflow: hidden;   
}

@media screen and (max-width: 768px) {
    .invoice-history-container {
        /* Layout */
        flex: 1;

        /* Size / Shape */
        height: 400px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .invoice-history-container {
        /* Size / Shape */
        height: 500px;
    }
}

@media screen and (min-width: 1801px) {
    .invoice-history-container {
        /* Size / Shape */
        height: 850px;
    }
}
/* #endregion */

/* #region invoice-history-title */
.invoice-history-title {
    /* Layout */

    /* Size/Shape */
    width: 100%;

    /* Background */

    /* Text */ 
        
    /* Misc */    
}

@media screen and (max-width: 768px){
    .invoice-history-title {
        /* Layout */

        /* Size/Shape */
        height: 8%;
        margin-top: 2px;
        margin-bottom: 2px;

        /* Background */

        /* Text */
        font-size: 20px; 
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .invoice-history-title {
        /* Layout */

        /* Size/Shape */
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;

        /* Background */

        /* Text */
        font-size: 24px; 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .invoice-history-title {
        /* Layout */

        /* Size/Shape */
        height: 40px;
        margin-top: 10px;
        margin-bottom: 10px;

        /* Background */

        /* Text */
        font-size: 24px; 
        
        /* Misc */
    }
}

/* #endregion */

/* #region invoice-entries-container */
.invoice-entries-container {
    /* Layout */
    flex: 1;

    /* Size/Shape */
    min-height: 0;

    /* Background */

    /* Text */ 
        
    /* Misc */
    overflow-y: auto;
}
/* #endregion */

/* #region invoice-entry-box */
.invoice-entry-box {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Size/Shape */
    width: 95%;
    border-radius: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: black;

    /* Background */
    background-color: #e1dfdf;

    /* Text */
    font-size: medium;
    
    color: black; 
        
    /* Misc */    
}

@media screen and (max-width: 768px){
    .invoice-entry-box {
        /* Layout */

        /* Size/Shape */
        height: 20%;
        margin: 2px auto;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .invoice-entry-box {
        /* Layout */

        /* Size/Shape */
        height: 60px;
        margin: 10px auto;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .invoice-entry-box {
        /* Layout */

        /* Size/Shape */
        height: 60px;
        margin: 10px auto;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

/* #endregion */

/* #region invoice-entry-box-date */
.invoice-entry-box-date {
    /* Layout */
    display: flex;
    align-items: center;

    /* Size/Shape */
    height: 100%;
    width: 50%;
    margin-left: 10%;
    margin-right: 10%;

    /* Background */

    /* Text */
    font-size: large;
    
    color: black; 
        
    /* Misc */    
}


@media screen and (max-width: 768px) {
    .invoice-entry-box-date{
        /* Text */
        font-size: 10px;
    }
}    
/* #endregion */

/* #region invoice-entry-box-total */
.invoice-entry-box-total {
    /* Layout */
    display: flex;
    align-items: center;

    /* Size/Shape */
    height: 100%;
    width: 20%;
    margin-left: 5%;
    margin-right: 3%;

    /* Background */

    /* Text */
    font-size: large;
    font-style: italic;
    font-weight: bold; 
    
    color: green;
        
    /* Misc */    
}

@media screen and (max-width: 768px) {
    .invoice-entry-box-total {
        font-size: small;
    }
}
/* #endregion */

/* #region invoice-options-container */
.invoice-options-container {
    /* Layout */
    flex: 3;
    display: grid;
    justify-content: center; /* centers grid inside container */
    align-content: center;
    
    /* Size/Shape */
    width: 100%;
    padding-top: 2%;
    margin: 2% auto;

    /* Background */

    /* Text */ 
        
    /* Misc */    
}

@media screen and (max-width: 768px){
    .invoice-options-container {
        /* Layout */
        flex: 1;
        grid-template-columns: repeat(1, 90%);
        justify-content: stretch;

        /* Size/Shape */
        padding-top: 1%;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .invoice-options-container {
        /* Layout */
        grid-template-columns: repeat(2, 250px);

        /* Size/Shape */
        padding-top: 0;
        gap: 50px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .invoice-options-container {
        /* Layout */
        grid-template-columns: repeat(2, 400px);

        /* Size/Shape */
        gap: 80px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}
/* #endregion */

/* #region invoice-option-box */
.invoice-option-box {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /* Size/Shape */
    border-radius: 25px;

    /* Background */
    background-color: #360f5a;

    /* Text */
    text-decoration: none;
    text-align: center; 
    font-weight: bold;
    
    color: white;
        
    /* Misc */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;  
}

.invoice-option-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

button.invoice-option-box {
    /* Layout */
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    /* Size/Shape */
    border-radius: 25px;

    /* Background */
    background-color: #360f5a;

    /* Text */
    text-decoration: none;
    text-align: center; 
    font-weight: bold;
    
    color: white;
        
    /* Misc */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button.invoice-option-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

@media screen and (max-width: 768px){
    .invoice-option-box {
        /* Layout */

        /* Size/Shape */
        width: 90%;
        height: 90%;
        padding: 1px;
        
        /* Background */

        /* Text */
        font-size: 14px; 
        
        /* Misc */
    }

    button.invoice-option-box {
        /* Layout */

        /* Size/Shape */
        height: 90%;
        width: 90%;
        padding: 1px;

        /* Text */
        font-size: 14px; 

    }

    button.invoice-option-box:hover {
        transform: translateY(-10px);
        box-shadow: 0 6px 15px rgba(0,0,0,0.25);
    }    
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .invoice-option-box {
        /* Layout */

        /* Size/Shape */
        width: 225px;
        height: 225px;
        padding: 5px;
        
        /* Background */

        /* Text */
        font-size: 20px; 
        
        /* Misc */
    }

    button.invoice-option-box {
        /* Layout */

        /* Size/Shape */
        width: 225px;
        height: 225px;
        padding: 5px;

        /* Background */

        /* Text */

        /* Misc */
    }  
}

@media screen and (min-width: 1801px){
    .invoice-option-box {
        /* Layout */

        /* Size/Shape */
        width: 325px;
        height: 325px;
        padding: 5px;
        
        /* Background */

        /* Text */
        font-size: 20px; 
        
        /* Misc */
    }

    button.invoice-option-box {
        /* Layout */

        /* Size/Shape */
        width: 325px;
        height: 325px;
        padding: 5px;
        
        /* Background */

        /* Text */
        font-size: 20px; 
        
        /* Misc */

    }
}
/* #endregion */

/* #region invoice-icon */
.invoice-icon {
    /* Layout */

    /* Size/Shape */
    height: 75%;
    width: 75%;

    /* Background */

    /* Text */ 
        
    /* Misc */    
}

@media screen and (max-width: 768px){
    .invoice-icon {
        /* Layout */

        /* Size/Shape */
        margin-bottom: 5px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .invoice-icon {
        /* Layout */

        /* Size/Shape */
        margin-bottom: 20px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .invoice-icon {
        /* Layout */

        /* Size/Shape */
        margin-bottom: 20px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }
}
/* #endregion */

/* #region invoice-text */
.invoice-text {
    /* Layout */

    /* Size/Shape */

    /* Background */

    /* Text */
    text-decoration: none;
    color: white; 
        
    /* Misc */    
}

@media screen and (max-width: 768px){
    .invoice-text {
        /* Layout */

        /* Size/Shape */

        /* Background */

        /* Text */
        font-size: 6px; 
        
        /* Misc */
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .invoice-text {
        /* Layout */

        /* Size/Shape */

        /* Background */

        /* Text */
        font-size: 24px; 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .invoice-text {
        /* Layout */

        /* Size/Shape */

        /* Background */

        /* Text */
        font-size: 24px; 
        
        /* Misc */
    }
}
/* #endregion */
    
/* #region add-invoice-modal-content */
.add-invoice-modal-content {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;    

    /* Size/Shape */ 
    width: 45%; 
    margin: 10% auto; 
    border-radius: 16px;
    border-color: #360f5a;

    /* Background */
    background: white;

    /* Text */
    
    color: black; 
        
    /* Misc */    
}

.add-invoice-modal-content h2 {
    /* Layout */

    /* Size/Shape */
    margin-top: 0;

    /* Background */

    /* Text */
    text-align: center;
    font-weight: bold;
     
    color: black;
        
    /* Misc */        
}

@media screen and (max-width: 768px){
    .add-invoice-modal-content {
        /* Layout */

        /* Size/Shape */
        width: 95%;
        height: 90%;
        padding-top: 5px;
        padding-left: 10px;
        border-width: 2px;

        /* Background */

        /* Text */
        font-size: 6px; 
        
        /* Misc */
    }

    .add-invoice-modal-content h2 {
        /* Layout */

        /* Size/Shape */
        margin-top: 0;

        /* Background */

        /* Text */
        font-size: 24px;
            
        /* Misc */        
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .add-invoice-modal-content {
        /* Layout */

        /* Size/Shape */
        height: 60%;
        padding-top: 20px;
        border-width: 10px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }

    .add-invoice-modal-content h2 {
        /* Layout */

        /* Size/Shape */
        margin-top: 0;

        /* Background */

        /* Text */
        font-size: 24px;
            
        /* Misc */        
    }   
}

@media screen and (min-width: 1801px){
    .add-invoice-modal-content {
        /* Layout */

        /* Size/Shape */
        padding-top: 20px;
        border-width: 10px;

        /* Background */

        /* Text */ 
        
        /* Misc */
    }

    .add-invoice-modal-content h2 {
        /* Layout */

        /* Size/Shape */
        margin-top: 0;

        /* Background */

        /* Text */
        font-size: 24px;
            
        /* Misc */        
    }     
}
/* #endregion */
    
/* #region add-invoice-box */
.add-invoice-box {
    /* Layout */

    /* Size/Shape */
    width: 70%;
    border-radius: 10px;
    border-width: 2px;
    border-color: black;

    /* Background */

    /* Text */
     
        
    /* Misc */    
}

@media screen and (max-width: 768px){
    .add-invoice-box {
        /* Layout */

        /* Size/Shape */
        height: 10px;
        margin: 2px 0;
        padding: 2px;

        /* Background */

        /* Text */
        font-size: 6px; 
        
        /* Misc */
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .add-invoice-box {
        /* Layout */

        /* Size/Shape */
        height: 40px;
        margin-bottom: 30px;
        padding: 10px;

        /* Background */

        /* Text */
        font-size: 16px; 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .add-invoice-box {
        /* Layout */

        /* Size/Shape */
        height: 60px;
        margin-bottom: 20px;
        padding: 20px;

        /* Background */

        /* Text */
        font-size: 16px; 
        
        /* Misc */
    }
}
/* #endregion */

/* #region add-invoice-confirm */
.add-invoice-confirm {
    /* Layout */

    /* Size/Shape */
    width: 70%;
    border: none;
    border-radius: 12px;

    /* Background */
    background-color: #360f5a;

    /* Text */
    font-weight: bold;
    color: white; 
        
    /* Misc */ 
    cursor: pointer;   
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#add-invoice-confirm:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

@media screen and (max-width: 768px){
    .add-invoice-confirm {
        /* Layout */

        /* Size/Shape */
        height: 15px;
        margin-top: 10px;
        margin-left: 10px; 

        /* Background */

        /* Text */
        font-size: 16px; 
        
        /* Misc */
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .add-invoice-confirm {
        /* Layout */

        /* Size/Shape */
        height: 60px;

        /* Background */

        /* Text */
        font-size: 16px; 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .add-invoice-confirm {
        /* Layout */

        /* Size/Shape */
        height: 60px;
        margin-top: 40px;

        /* Background */

        /* Text */
        font-size: 16px; 
        
        /* Misc */
    }
}
/* #endregion */
