:root {
    /* School */
    --my_school: "Washington";

    /* Colors */
    --primary_color: #33006f;
    --secondary_color: #B7A57A;

    /* Text */
    font-family: "Segoe UI", system-ui, sans-serif;
    --dash_font: "Segoe UI", system-ui, sans-serif;

}