
/* #region settings-container */
.settings-container {
    /* Layout */
    flex: 1;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(4, 1fr);

    /* Size/Shape */
    margin: 0 auto;

    /* Background */

    /* Text */ 
        
    /* Misc */
}

@media screen and (max-width: 768px) {
    .settings-container {
        /* Layout */
        grid-template-columns: repeat(2, 45%);
        gap: 2%;
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .settings-container {  
        /* Layout */
        gap: 50px;

        /* Size/Shape */

        /* Background */
        

        /* Text */ 
            
        /* Misc */
    }
}   

@media screen and (min-width: 1801px) {
    .settings-container {  
        /* Layout */
        grid-template-columns: repeat(4, 400px);
        gap: 50px;

        /* Size/Shape */

        /* Background */
        

        /* Text */ 
            
        /* Misc */
    }
}
/* #endregion

    /* Layout */

/* #region settings-option */
.settings-option {
    /* Layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Size/Shape */
    border-radius: 15px;

    /* Background */
    background-color: #360f5a;

    /* Text */ 
    color: white;
        
    /* Misc */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.settings-option:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

@media screen and (min-width: 769px) and (max-width: 1800px) {
    .settings-option {
        /* Size/Shape */
        height: 20%;
        width: 20%;      
    }
}

@media screen and (min-width: 769px) and (max-width: 1800px) {
    .settings-option {
        /* Size/Shape */
        height: 225px;
        width: 225px;        
    }
}

@media screen and (min-width: 1801px) {
    .settings-option {
        /* Size/Shape */
        height: 300px;
        width: 300px;               
    }
}
/* #endregion   

/* #region settings-icon */

/* #region settings-icon */
.settings-icon {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Size/Shape */
    height: 50%;
    width: 50%;

    /* Background */

    /* Text */ 
        
    /* Misc */    
}
/* #endregion */

/* #region settings-title */
.settings-title {
    /* Layout */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Size/Shape */
    height: 30%;

    /* Background */

    /* Text */ 
    text-align: center;
    font-style: bold;
        
    /* Misc */  
}

@media screen and (min-width: 769px) and (max-width: 1800px) {
    .settings-title {
        font-size: 24px;
    }    
}

@media screen and (min-width: 1801px) {
    .settings-title {
        font-size: 32px;
    }    
}
/* #endregion

    /* Layout */
