
/* #region writer-modal-content */
.writers-modal-content {
    /* Layout */
    display: flex;
    flex-direction: column;  

    /* Size/Shape */
    width: 90%;
    height: 75%;
    padding-top: 2%;
    padding-left: 1%;
    border-radius: 20px;

    /* Background */
    background-color: rgb(238, 238, 238);

    /* Text */ 
        
    /* Misc */    
}
/* #endregion

/* #region writer-list-title */

/* #region writer-list-title */
.writer-list-title {
    /* Layout */
    display: flex;

    align-items: center;
    box-sizing: border-box;

    /* Size/Shape */
    width: 98%;
    height: 30px;
    margin-bottom: 5px;
    border: black 1px solid;

    /* Background */
    
    /* Text */
    font-size: 16px;
    font-family: Calibri, Verdana, "Segoe UI", Arial, sans-serif;
    color: #360f5a;
        
    /* Misc */    
}
/* #endregion

/* #region writer-list-container */

/* #region writer-region-container */
.writer-list-container {
    /* Layout */
    display: flex;
    flex-direction: column;  
    box-sizing: border-box; 

    /* Size/Shape */
    height: 75%;
    width: 98%;
    border: black 1px solid;

    /* Background */

    /* Text */ 
        
    /* Misc */
    overflow-y: auto;   
}
/* #endregion */

/* #region writer-list-entry-container */
.writer-list-entry-container {
    /* Layout */
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: relative;

    /* Size/Shape */
    width: 100%;
    min-height: 30px;
    height: 50px;
    margin-bottom: 5px;
    border: black 1px solid;

    /* Background */
    
    /* Text */
    font-family: Calibri, Verdana, "Segoe UI", Arial, sans-serif;
    color: #360f5a;
        
    /* Misc */    
}
/* #endregion */

/* #region writer-list-entry-section */
.writer-list-entry-section {
    /* Layout */
    display: flex;
    align-items: center;

    /* Size/Shape */
    box-sizing: border-box;
    width: 10%;
    padding-left: 1%;
    height: 100%;

    /* Background */

    /* Text */
    font-size: 14px;
    font-family: Calibri, Verdana, "Segoe UI", Arial, sans-serif;
    color: black;

        
    /* Misc */    
}
/* #endregion */

/* #region list-options-button */
.list-options-button {
    border: none;
    background: none;
    cursor: pointer;
    font-size: 28px;
}

.list-options {
    display: none;
    position: absolute;

    right: 5px;
    top: -5px;

    width: 5%;
    padding: 8px;

    background: white;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,.25);

    z-index: 99999;

    flex-direction: column;
    gap: 6px;
}

.list-options button {
    border: none;
    background: white;
    padding: 10px;
    cursor: pointer;
    text-align: left;
}

.list-options button:hover {
    background: #eee;
}

.edit-writer, .delete-writer, .edit-sport {
    color: #360f5a;
}
/* #endregion */

/* #region edit-writer-modal-content */
.edit-writer-modal-content, .edit-sport-modal-content {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;

    /* Size/Shape */
    width: 30%;
    margin: 5% auto;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 16px;
    border-color: #360f5a;

    /* Background */
    background: white;

    /* Text */ 
    
    color: black;
        
    /* Misc */    
}
/* #endregion */

/* #region edit-writer-box */
.edit-writer-box {
    /* Layout */

    /* Size/Shape */
    width: 80%;
    height: 8%;
    padding-left: 2%;
    border-radius: 10px;
    border-color: black;

    /* Background */

    /* Text */ 
    
        
    /* Misc */    
}
/* #endregion */

/* #region add-writer-button */
.add-writer-button {
    /* Layout */

    /* Size/Shape */
    width: 150px;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: transparent 1px solid;
    margin-left: auto;
    margin-right: 1%;

    /* Background */
    background-color: transparent;

    /* Text */
    color: #360f5a;
    font-family: Calibri, Verdana, "Segoe UI", Arial, sans-serif;
    font-size: 24px;
        
    /* Misc */   
    cursor: pointer; 
}

.add-writer-button:hover {
    background-color: #360f5a;
    color: white;
}
/* #endregion */

/* #region add-writer-model-content */
.add-writer-modal-content {
    /* Layout */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2%;

    /* Size/Shape */
    width: 30%;
    margin: 5% auto;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 16px;
    border-color: #360f5a;

    /* Background */
    background: white;

    /* Text */ 
    
    color: black;
        
    /* Misc */    
}
/* #endregion */

/* #region add-writer-box */
.add-writer-box {
    /* Layout */

    /* Size/Shape */
    width: 80%;
    height: 8%;
    padding-left: 2%;
    border-radius: 10px;
    border-color: black;

    /* Background */

    /* Text */ 
    
        
    /* Misc */    
}
/* #endregion */

/* #region confirm-add / confirm-edit */
.add-writer-confirm, .edit-writer-confirm {
    /* Layout */

    /* Size/Shape */
    width: 100%;
    border: none;
    border-radius: 12px;

    /* Background */
    background-color: #360f5a;

    /* Text */
    color: white;
        
    /* Misc */
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#add-writer-confirm:hover, #edit-writer-confirm:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.25);
}

@media screen and (max-width: 768px){
    .add-writer-confirm, .edit-writer-confirm {
        /* Layout */

        /* Size/Shape */
        height: 10%;
        width: 60%;
        margin-top: 10px;                       
        padding: 3px 0;

        /* Background */

        /* Text */ 
        font-size: 24px;
        
        /* Misc */

    }
}

@media screen and (min-width: 769px) and (max-width: 1800px){
    .add-writer-confirm, .edit-writer-confirm {
        /* Layout */

        /* Size/Shape */
        height: 50px;
        width: 80%;
        margin-top: 20px;                       
        padding: 12px 0;

        /* Background */

        /* Text */
        font-size: 16px; 
        
        /* Misc */
    }
}

@media screen and (min-width: 1801px){
    .add-writer-confirm, .edit-writer-confirm {
        /* Layout */

        /* Size/Shape */
        height: 50px;
        margin-top: 50px;                       
        padding: 12px 0;

        /* Background */

        /* Text */
        font-size: 16px; 
        
        /* Misc */
    }
}
/* #endregion */ 