:root {
    /* School */
    --my_school: "Washington";

    /* Colors */
    --primary_color: #EFEFEF;
    --secondary_color: #F0F0F0;

    /* Text */
    font-family: "Segoe UI", system-ui, sans-serif;
    --dash_font: "Segoe UI", system-ui, sans-serif;

}